:root {
    --bg-black: #0f0f0f;
    --white: #f8f8f8;
    --bg-gray: #272727;
    --link-blue: rgb(126, 162, 236);
    --bg-light-gray: rgb(248, 248, 248);
    --bg-red: rgb(238, 47, 76);
    --bg-blue: rgb(26, 97, 233);
    --bg-purple: rgb(90, 30, 203);
    --mobile-box-shadow: #b0b0b229 0px -5px 6px 0px inset,
    #0000003d 4px 6px 11px 1px inset;
    --mobile-bg: #272b2d;
    --bg-green: rgb(2, 119, 87);
}